* {
    margin: 0;
    padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
    background: #008000;
}

#game {
	background: rgb(150, 150, 150);
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}

#instructions {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    color: white;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.text {
    display: inline-block;
}
